.App {
  font-family: "Hind Guntur", sans-serif;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(200, 200, 200) 30%,
    rgb(240, 240, 240) 53%,
    rgb(255, 255, 255) 88%
  );
}
h1 {
  font-weight: 600;
  color: rgb(5, 5, 40);
}

p {
  color: rgb(5, 5, 40);
}

.item,
.item input,
#input input,
#input input::placeholder {
  text-align: center;
  color: rgb(5, 5, 40);
}

.item {
  background: rgb(228, 228, 228);
  box-shadow: 0 0 10px 0 rgb(156, 156, 156);
}

#input input {
  background: rgb(228, 228, 228);
}

.btn-primary,
.btn-danger {
  font-weight: bold;
  color: rgb(5, 5, 40);
  border: none;
}

.btn-primary {
  background-color: limegreen;
  color: whitesmoke;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: green;
}

.btn-danger {
  color: whitesmoke;
  background-color: red;
}

.btn-danger:hover {
  background-color: rgb(141, 0, 0);
}
